<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button text="Retour" defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Mot de passe</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container-center">
    <h2 class="ion-text-center">Modification de votre mot de passe</h2>
    <form [formGroup]="ionicForm">
      <ion-list class="ion-padding-bottom">
        <ion-item>
          <ion-label position="floating">Ancien mot de passe</ion-label>
          <ion-input required type="password" formControlName="current_password"></ion-input>
        </ion-item>
        <ion-note color="danger" *ngIf="!ionicForm.controls.current_password.valid && ionicForm.controls.current_password.dirty">
          <p class="ion-padding-start">Il doit faire minimum 8 caractères.</p>
        </ion-note>
      </ion-list>

      <ion-list class="ion-padding-bottom">
        <ion-item>
          <ion-label position="floating">Nouveau mot de passe</ion-label>
          <ion-input required type="password" formControlName="password"></ion-input>
        </ion-item>
        <ion-note color="danger" *ngIf="!ionicForm.controls.password.valid && ionicForm.controls.password.dirty">
          <p class="ion-padding-start">Il doit faire minimum 8 caractères.</p>
        </ion-note>
      </ion-list>
      <br />

    </form>
    <ion-button [disabled]="ionicForm.invalid" (click)="updatePassword()" expand="block">Modifier le mot de passe</ion-button>
  </div>

<br/>

</ion-content>
