<ion-content>
  <ion-back-button color="dark" class="icon-retour" text="" defaultHref="/home"></ion-back-button>
  <div class="container-flex">
    <ion-card class="container-game">
      <div class="animations" #rectangle>
        
      </div>
      <div class="animations red" #squareMulticolor (click)="multicolor()">
        
      </div>
      <div class="animations blue" #squareBig (click)="big()">
        
      </div>
      <div class="animations purple" #squareMove (click)="move()">
        
      </div>

      <div class="animations green" #squareMove2 (click)="move2()">
        
      </div>
      <div class="animations pink" #squareBig2 (click)="big2()">
        
      </div>
      <div class="animations orange" #squareMulticolor2 (click)="multicolor2()">
        
      </div>
      <div class="animations" #rectangle2>
        
      </div>

      
    </ion-card>
    
  </div>
</ion-content>
