<ion-content [fullscreen]="true">
  <ion-img class="image-home-slide" [src]="enfantHandicap"></ion-img>

  <div class="container-center">
    <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center" color="primary">Qu'est ce qu'HandiSmiling ?</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Ce projet est né de la découverte du monde du handicap, particulièrement le polyhandicap, qui est très peu mis en avant
      <br />
      Cette application va permettre de faire jouer ses enfants, qu'importe son handicap !
      <br />
      Il pourra également communiquer avec vous à l'aide de pictogramme.
      Vous pourrez en tant que parents/tuteur, gérer son compte et voir son évolution !
    </ion-card-content>
  </ion-card>
  <div class="container-icon">
    <ion-icon color="primary" [routerLink]="['/tab1']" slot='end' name="chevron-back-outline" size="large">
    </ion-icon>
    <ion-icon color="primary" [routerLink]="['/tab3']" slot='end' name="chevron-forward-outline" size="large">
    </ion-icon>
  </div>
  </div>
  


</ion-content>